.chats{
  max-width: 700px;
  overflow-y :scroll;
  padding: 4rem;
  scrollbar-color: #424242 #212121;
    scrollbar-width: thin;
}

.userDiv{
  display: flex;
  justify-content: flex-end;

}

.assistantDiv{
  text-align: left;
  font-size: 0.9rem;

}

.userMsg{
  background-color:#323232 ;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left: 15rem;
  max-width: 500px;
  width: fit-content;

}

/* default class of code generated block  */
.hljs{
  border-radius: 40px !important;
}

pre{
  white-space: pre-wrap;
}

